<div>
    <div class="header">
        <div class="tabs">
            <span id="tplan" (click)="listTodaysPlans()">Today's Events</span>
            <span> | </span>
            <span id="aplan" (click)="listAllPlans()"> All Events</span>
        </div>
        <div class="actions">
            <a [routerLink]="['/form/add']">Add event</a>
            <span (click)="logout()">Logout</span>
        </div>
    </div>
    <div *ngIf="today" class="container">
        <div class="item" *ngIf="err">
            <p class="err">No events today</p>
        </div>
        <div *ngFor="let event of data" class="item">
            <div class="left">
                <p>{{event.name}}</p>
            </div>
            <div class="right">
                <span>{{event.start}} - {{event.end}}</span>
                <button class="edit" (click)="edit(event)">Edit</button>
                <button class="delete" (click)="openModal(event)">Delete</button>
            </div>
        </div>
    </div>
    <div *ngIf="!today" class="allcontainer">
        <div class="item" *ngIf="err">
            <p class="err">No events yet</p>
        </div>
        <div *ngFor="let event of data" class="item">
            <div class="left">
                <p>{{event.name}}</p>
            </div>
            <div class="right">
                <span class="date">{{event.triggerdate}}</span>
                <span> {{event.start}} - {{event.end}}</span>
                <button class="edit" (click)="edit(event)">Edit</button>
                <button class="delete" (click)="openModal(event)">Delete</button>
            </div>
        </div>
    </div>
    <div class="modal-container" *ngIf="showModal">
        <div class="modal">
            <p>Are you sure you want to delete this event?</p>
            <button (click)="closeModal()">No</button>
            <button (click)="delete()">Yes</button>
        </div>
    </div>
    <div class="modal-container" *ngIf="showAlertModal">
        <div class="modal">
            <p>Alert: {{message}}</p>
            <button (click)="closeAlertModal()">OK</button>
        </div>
    </div>
</div>